.imgbox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sct2{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.imgbg{
    background-color: aqua;
    height: 65px;
    width: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#emoji{
    font-size: 34px;
    margin: 0;
}   
/* .img{
    height: 45px;
    width: 45px;
} */
.gridView{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    row-gap: 45px;
    margin: 84px;
    padding: 50px;
    border: 20px solid rgba(0,0,0,0.1);
    border-radius: 14px;
    margin-top: 0;
}
.cover{
    height: 65px;
    width: 65px;
    background-color: blue;
    position: absolute;
  
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 64px;
    margin: 0;
}
#main{
    background-color: rgba(128,128,0,0.5);
    font-family: 'poppins';
    padding-bottom: 120px;
    padding-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.winnig{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
}
.memResult{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 84px;
}

/* PopUp */

@media screen and (max-width : 440px){
    .title{
       
        font-size: 26px;
       
    }
    .gridView{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        row-gap: 25px;
        margin: 20px;
        padding: 25px 0;
        border: 8px solid rgba(0,0,0,0.1);
        border-radius: 14px;
        margin-top: 0;
    }
    .imgbg{
        background-color: aqua;
        height: 35px;
        width: 35px;
        align-items: center;
        justify-content: center;
        display: flex;
        
    }
    .cover{
        height: 35px;
        width: 35px;
    }   
    #emoji{
        font-size: 18px;
    }
    #main{
        
        padding-bottom: 50px;
        padding-top: 20px;
        position: relative;
       
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .sct2{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .memResult{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        flex-direction: column;
    }
    
}